<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Cambia Data Source por tu servidor/base si usas SQL Server; para SQLite usamos ConfiguracionDB -->
    <add name="DefaultConnection" connectionString="Data Source=SERVER_NAME;Initial Catalog=GestorTiendaDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
